body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1D1F20;
    color: #A9B7C6;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #313335;
    color: #A9B7C6;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

nav {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 50px);
    width: 100px;
    background-color: #2B2B2B;
    padding: 20px;
    overflow-y: auto;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #A9B7C6;
}

main {
    margin-left: 100px;
    padding: 20px;
    transition: margin-left 0.5s;
    padding-top: 60px; /* Añadido para evitar que el texto se superponga con el encabezado */
}

section {
    border-radius: 15px;
    background-color: #3C3F41;
    padding: 5px;
    margin-left: 25px;
    margin-top: 5px;
    position: relative;
    top: 45px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #313335;
    color: #A9B7C6;
    text-align: center;
    padding: 10px;
}

